Service References/IliNet_eSocial/IliNet_eSocial.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://www.ilitera.net.br/essence_hom" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="https://www.ilitera.net.br/essence_hom" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://www.ilitera.net.br/essence_hom">
      <s:element name="Retornar_Clinicas">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CEP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Numero_Clinicas" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Valor_Maximo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Retornar_ClinicasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Retornar_ClinicasResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Retornar_Clinicas_Cliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CNPJ" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CEP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Numero_Clinicas" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Valor_Maximo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Retornar_Clinicas_ClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Retornar_Clinicas_ClienteResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Retornar_Laudos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xCNPJ" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Retornar_LaudosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Retornar_LaudosResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Retornar_Setores">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xCNPJ" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Retornar_SetoresResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Retornar_SetoresResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Retornar_Cargos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xCNPJ" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Retornar_CargosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Retornar_CargosResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Solicitar_Laudo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CNPJ" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Laudo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataLaudo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TipoRetorno" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Solicitar_LaudoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Solicitar_LaudoResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Executar_Convocacao">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CNPJ" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CodUsuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TipoExame" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CPF" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xIdClinica" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Executar_ConvocacaoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Executar_ConvocacaoResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Retornar_ASO">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CNPJ" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CodUsuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TipoExame" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CPF" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xIdClinica" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Retornar_ASOResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Retornar_ASOResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Retornar_Status_Exame">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CNPJ" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TipoExame" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CPF" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Retornar_Status_ExameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Retornar_Status_ExameResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Retornar_Digitalizado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CNPJ" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CodUsuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TipoExame" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CPF" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Retornar_DigitalizadoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Retornar_DigitalizadoResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Solicitar_eSocial_1060">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CNPJ" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataInicial" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataFinal" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CodUsuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Solicitar_eSocial_1060Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Solicitar_eSocial_1060Result">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Solicitar_eSocial_2210">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CNPJ" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataInicial" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataFinal" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CodUsuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Solicitar_eSocial_2210Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Solicitar_eSocial_2210Result">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Solicitar_eSocial_2220">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CNPJ" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataInicial" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataFinal" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CodUsuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Solicitar_eSocial_2220Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Solicitar_eSocial_2220Result">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Solicitar_eSocial_2221">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CNPJ" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataInicial" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataFinal" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CodUsuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Solicitar_eSocial_2221Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Solicitar_eSocial_2221Result">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Solicitar_eSocial_2230">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CNPJ" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataInicial" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataFinal" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CodUsuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Solicitar_eSocial_2230Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Solicitar_eSocial_2230Result">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Solicitar_eSocial_2240">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CNPJ" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataInicial" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataFinal" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CodUsuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Solicitar_eSocial_2240Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Solicitar_eSocial_2240Result">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Solicitar_eSocial_2245">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CNPJ" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataInicial" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataFinal" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CodUsuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Solicitar_eSocial_2245Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Solicitar_eSocial_2245Result">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Eventos_eSocial_1060">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CNPJ" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataInicial" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataFinal" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CodUsuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Eventos_eSocial_1060Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Eventos_eSocial_1060Result">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Retornar_ClinicasSoapIn">
    <wsdl:part name="parameters" element="tns:Retornar_Clinicas" />
  </wsdl:message>
  <wsdl:message name="Retornar_ClinicasSoapOut">
    <wsdl:part name="parameters" element="tns:Retornar_ClinicasResponse" />
  </wsdl:message>
  <wsdl:message name="Retornar_Clinicas_ClienteSoapIn">
    <wsdl:part name="parameters" element="tns:Retornar_Clinicas_Cliente" />
  </wsdl:message>
  <wsdl:message name="Retornar_Clinicas_ClienteSoapOut">
    <wsdl:part name="parameters" element="tns:Retornar_Clinicas_ClienteResponse" />
  </wsdl:message>
  <wsdl:message name="Retornar_LaudosSoapIn">
    <wsdl:part name="parameters" element="tns:Retornar_Laudos" />
  </wsdl:message>
  <wsdl:message name="Retornar_LaudosSoapOut">
    <wsdl:part name="parameters" element="tns:Retornar_LaudosResponse" />
  </wsdl:message>
  <wsdl:message name="Retornar_SetoresSoapIn">
    <wsdl:part name="parameters" element="tns:Retornar_Setores" />
  </wsdl:message>
  <wsdl:message name="Retornar_SetoresSoapOut">
    <wsdl:part name="parameters" element="tns:Retornar_SetoresResponse" />
  </wsdl:message>
  <wsdl:message name="Retornar_CargosSoapIn">
    <wsdl:part name="parameters" element="tns:Retornar_Cargos" />
  </wsdl:message>
  <wsdl:message name="Retornar_CargosSoapOut">
    <wsdl:part name="parameters" element="tns:Retornar_CargosResponse" />
  </wsdl:message>
  <wsdl:message name="Solicitar_LaudoSoapIn">
    <wsdl:part name="parameters" element="tns:Solicitar_Laudo" />
  </wsdl:message>
  <wsdl:message name="Solicitar_LaudoSoapOut">
    <wsdl:part name="parameters" element="tns:Solicitar_LaudoResponse" />
  </wsdl:message>
  <wsdl:message name="Executar_ConvocacaoSoapIn">
    <wsdl:part name="parameters" element="tns:Executar_Convocacao" />
  </wsdl:message>
  <wsdl:message name="Executar_ConvocacaoSoapOut">
    <wsdl:part name="parameters" element="tns:Executar_ConvocacaoResponse" />
  </wsdl:message>
  <wsdl:message name="Retornar_ASOSoapIn">
    <wsdl:part name="parameters" element="tns:Retornar_ASO" />
  </wsdl:message>
  <wsdl:message name="Retornar_ASOSoapOut">
    <wsdl:part name="parameters" element="tns:Retornar_ASOResponse" />
  </wsdl:message>
  <wsdl:message name="Retornar_Status_ExameSoapIn">
    <wsdl:part name="parameters" element="tns:Retornar_Status_Exame" />
  </wsdl:message>
  <wsdl:message name="Retornar_Status_ExameSoapOut">
    <wsdl:part name="parameters" element="tns:Retornar_Status_ExameResponse" />
  </wsdl:message>
  <wsdl:message name="Retornar_DigitalizadoSoapIn">
    <wsdl:part name="parameters" element="tns:Retornar_Digitalizado" />
  </wsdl:message>
  <wsdl:message name="Retornar_DigitalizadoSoapOut">
    <wsdl:part name="parameters" element="tns:Retornar_DigitalizadoResponse" />
  </wsdl:message>
  <wsdl:message name="Solicitar_eSocial_1060SoapIn">
    <wsdl:part name="parameters" element="tns:Solicitar_eSocial_1060" />
  </wsdl:message>
  <wsdl:message name="Solicitar_eSocial_1060SoapOut">
    <wsdl:part name="parameters" element="tns:Solicitar_eSocial_1060Response" />
  </wsdl:message>
  <wsdl:message name="Solicitar_eSocial_2210SoapIn">
    <wsdl:part name="parameters" element="tns:Solicitar_eSocial_2210" />
  </wsdl:message>
  <wsdl:message name="Solicitar_eSocial_2210SoapOut">
    <wsdl:part name="parameters" element="tns:Solicitar_eSocial_2210Response" />
  </wsdl:message>
  <wsdl:message name="Solicitar_eSocial_2220SoapIn">
    <wsdl:part name="parameters" element="tns:Solicitar_eSocial_2220" />
  </wsdl:message>
  <wsdl:message name="Solicitar_eSocial_2220SoapOut">
    <wsdl:part name="parameters" element="tns:Solicitar_eSocial_2220Response" />
  </wsdl:message>
  <wsdl:message name="Solicitar_eSocial_2221SoapIn">
    <wsdl:part name="parameters" element="tns:Solicitar_eSocial_2221" />
  </wsdl:message>
  <wsdl:message name="Solicitar_eSocial_2221SoapOut">
    <wsdl:part name="parameters" element="tns:Solicitar_eSocial_2221Response" />
  </wsdl:message>
  <wsdl:message name="Solicitar_eSocial_2230SoapIn">
    <wsdl:part name="parameters" element="tns:Solicitar_eSocial_2230" />
  </wsdl:message>
  <wsdl:message name="Solicitar_eSocial_2230SoapOut">
    <wsdl:part name="parameters" element="tns:Solicitar_eSocial_2230Response" />
  </wsdl:message>
  <wsdl:message name="Solicitar_eSocial_2240SoapIn">
    <wsdl:part name="parameters" element="tns:Solicitar_eSocial_2240" />
  </wsdl:message>
  <wsdl:message name="Solicitar_eSocial_2240SoapOut">
    <wsdl:part name="parameters" element="tns:Solicitar_eSocial_2240Response" />
  </wsdl:message>
  <wsdl:message name="Solicitar_eSocial_2245SoapIn">
    <wsdl:part name="parameters" element="tns:Solicitar_eSocial_2245" />
  </wsdl:message>
  <wsdl:message name="Solicitar_eSocial_2245SoapOut">
    <wsdl:part name="parameters" element="tns:Solicitar_eSocial_2245Response" />
  </wsdl:message>
  <wsdl:message name="Eventos_eSocial_1060SoapIn">
    <wsdl:part name="parameters" element="tns:Eventos_eSocial_1060" />
  </wsdl:message>
  <wsdl:message name="Eventos_eSocial_1060SoapOut">
    <wsdl:part name="parameters" element="tns:Eventos_eSocial_1060Response" />
  </wsdl:message>
  <wsdl:message name="Retornar_ClinicasHttpGetIn">
    <wsdl:part name="CEP" type="s:string" />
    <wsdl:part name="Numero_Clinicas" type="s:string" />
    <wsdl:part name="Valor_Maximo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Retornar_ClinicasHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="Retornar_Clinicas_ClienteHttpGetIn">
    <wsdl:part name="CNPJ" type="s:string" />
    <wsdl:part name="CEP" type="s:string" />
    <wsdl:part name="Numero_Clinicas" type="s:string" />
    <wsdl:part name="Valor_Maximo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Retornar_Clinicas_ClienteHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="Retornar_LaudosHttpGetIn">
    <wsdl:part name="xCNPJ" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Retornar_LaudosHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="Retornar_SetoresHttpGetIn">
    <wsdl:part name="xCNPJ" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Retornar_SetoresHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="Retornar_CargosHttpGetIn">
    <wsdl:part name="xCNPJ" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Retornar_CargosHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="Solicitar_LaudoHttpGetIn">
    <wsdl:part name="CNPJ" type="s:string" />
    <wsdl:part name="Laudo" type="s:string" />
    <wsdl:part name="DataLaudo" type="s:string" />
    <wsdl:part name="TipoRetorno" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Solicitar_LaudoHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="Executar_ConvocacaoHttpGetIn">
    <wsdl:part name="CNPJ" type="s:string" />
    <wsdl:part name="CodUsuario" type="s:string" />
    <wsdl:part name="TipoExame" type="s:string" />
    <wsdl:part name="CPF" type="s:string" />
    <wsdl:part name="Data" type="s:string" />
    <wsdl:part name="ID" type="s:string" />
    <wsdl:part name="xIdClinica" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Executar_ConvocacaoHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="Retornar_ASOHttpGetIn">
    <wsdl:part name="CNPJ" type="s:string" />
    <wsdl:part name="CodUsuario" type="s:string" />
    <wsdl:part name="TipoExame" type="s:string" />
    <wsdl:part name="CPF" type="s:string" />
    <wsdl:part name="Data" type="s:string" />
    <wsdl:part name="ID" type="s:string" />
    <wsdl:part name="xIdClinica" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Retornar_ASOHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="Retornar_Status_ExameHttpGetIn">
    <wsdl:part name="CNPJ" type="s:string" />
    <wsdl:part name="TipoExame" type="s:string" />
    <wsdl:part name="CPF" type="s:string" />
    <wsdl:part name="Data" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Retornar_Status_ExameHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="Retornar_DigitalizadoHttpGetIn">
    <wsdl:part name="CNPJ" type="s:string" />
    <wsdl:part name="CodUsuario" type="s:string" />
    <wsdl:part name="TipoExame" type="s:string" />
    <wsdl:part name="CPF" type="s:string" />
    <wsdl:part name="Data" type="s:string" />
    <wsdl:part name="ID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Retornar_DigitalizadoHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="Solicitar_eSocial_1060HttpGetIn">
    <wsdl:part name="CNPJ" type="s:string" />
    <wsdl:part name="DataInicial" type="s:string" />
    <wsdl:part name="DataFinal" type="s:string" />
    <wsdl:part name="CodUsuario" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Solicitar_eSocial_1060HttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="Solicitar_eSocial_2210HttpGetIn">
    <wsdl:part name="CNPJ" type="s:string" />
    <wsdl:part name="DataInicial" type="s:string" />
    <wsdl:part name="DataFinal" type="s:string" />
    <wsdl:part name="CodUsuario" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Solicitar_eSocial_2210HttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="Solicitar_eSocial_2220HttpGetIn">
    <wsdl:part name="CNPJ" type="s:string" />
    <wsdl:part name="DataInicial" type="s:string" />
    <wsdl:part name="DataFinal" type="s:string" />
    <wsdl:part name="CodUsuario" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Solicitar_eSocial_2220HttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="Solicitar_eSocial_2221HttpGetIn">
    <wsdl:part name="CNPJ" type="s:string" />
    <wsdl:part name="DataInicial" type="s:string" />
    <wsdl:part name="DataFinal" type="s:string" />
    <wsdl:part name="CodUsuario" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Solicitar_eSocial_2221HttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="Solicitar_eSocial_2230HttpGetIn">
    <wsdl:part name="CNPJ" type="s:string" />
    <wsdl:part name="DataInicial" type="s:string" />
    <wsdl:part name="DataFinal" type="s:string" />
    <wsdl:part name="CodUsuario" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Solicitar_eSocial_2230HttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="Solicitar_eSocial_2240HttpGetIn">
    <wsdl:part name="CNPJ" type="s:string" />
    <wsdl:part name="DataInicial" type="s:string" />
    <wsdl:part name="DataFinal" type="s:string" />
    <wsdl:part name="CodUsuario" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Solicitar_eSocial_2240HttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="Solicitar_eSocial_2245HttpGetIn">
    <wsdl:part name="CNPJ" type="s:string" />
    <wsdl:part name="DataInicial" type="s:string" />
    <wsdl:part name="DataFinal" type="s:string" />
    <wsdl:part name="CodUsuario" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Solicitar_eSocial_2245HttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="Eventos_eSocial_1060HttpGetIn">
    <wsdl:part name="CNPJ" type="s:string" />
    <wsdl:part name="DataInicial" type="s:string" />
    <wsdl:part name="DataFinal" type="s:string" />
    <wsdl:part name="CodUsuario" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Eventos_eSocial_1060HttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="Retornar_ClinicasHttpPostIn">
    <wsdl:part name="CEP" type="s:string" />
    <wsdl:part name="Numero_Clinicas" type="s:string" />
    <wsdl:part name="Valor_Maximo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Retornar_ClinicasHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="Retornar_Clinicas_ClienteHttpPostIn">
    <wsdl:part name="CNPJ" type="s:string" />
    <wsdl:part name="CEP" type="s:string" />
    <wsdl:part name="Numero_Clinicas" type="s:string" />
    <wsdl:part name="Valor_Maximo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Retornar_Clinicas_ClienteHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="Retornar_LaudosHttpPostIn">
    <wsdl:part name="xCNPJ" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Retornar_LaudosHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="Retornar_SetoresHttpPostIn">
    <wsdl:part name="xCNPJ" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Retornar_SetoresHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="Retornar_CargosHttpPostIn">
    <wsdl:part name="xCNPJ" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Retornar_CargosHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="Solicitar_LaudoHttpPostIn">
    <wsdl:part name="CNPJ" type="s:string" />
    <wsdl:part name="Laudo" type="s:string" />
    <wsdl:part name="DataLaudo" type="s:string" />
    <wsdl:part name="TipoRetorno" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Solicitar_LaudoHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="Executar_ConvocacaoHttpPostIn">
    <wsdl:part name="CNPJ" type="s:string" />
    <wsdl:part name="CodUsuario" type="s:string" />
    <wsdl:part name="TipoExame" type="s:string" />
    <wsdl:part name="CPF" type="s:string" />
    <wsdl:part name="Data" type="s:string" />
    <wsdl:part name="ID" type="s:string" />
    <wsdl:part name="xIdClinica" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Executar_ConvocacaoHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="Retornar_ASOHttpPostIn">
    <wsdl:part name="CNPJ" type="s:string" />
    <wsdl:part name="CodUsuario" type="s:string" />
    <wsdl:part name="TipoExame" type="s:string" />
    <wsdl:part name="CPF" type="s:string" />
    <wsdl:part name="Data" type="s:string" />
    <wsdl:part name="ID" type="s:string" />
    <wsdl:part name="xIdClinica" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Retornar_ASOHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="Retornar_Status_ExameHttpPostIn">
    <wsdl:part name="CNPJ" type="s:string" />
    <wsdl:part name="TipoExame" type="s:string" />
    <wsdl:part name="CPF" type="s:string" />
    <wsdl:part name="Data" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Retornar_Status_ExameHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="Retornar_DigitalizadoHttpPostIn">
    <wsdl:part name="CNPJ" type="s:string" />
    <wsdl:part name="CodUsuario" type="s:string" />
    <wsdl:part name="TipoExame" type="s:string" />
    <wsdl:part name="CPF" type="s:string" />
    <wsdl:part name="Data" type="s:string" />
    <wsdl:part name="ID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Retornar_DigitalizadoHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="Solicitar_eSocial_1060HttpPostIn">
    <wsdl:part name="CNPJ" type="s:string" />
    <wsdl:part name="DataInicial" type="s:string" />
    <wsdl:part name="DataFinal" type="s:string" />
    <wsdl:part name="CodUsuario" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Solicitar_eSocial_1060HttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="Solicitar_eSocial_2210HttpPostIn">
    <wsdl:part name="CNPJ" type="s:string" />
    <wsdl:part name="DataInicial" type="s:string" />
    <wsdl:part name="DataFinal" type="s:string" />
    <wsdl:part name="CodUsuario" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Solicitar_eSocial_2210HttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="Solicitar_eSocial_2220HttpPostIn">
    <wsdl:part name="CNPJ" type="s:string" />
    <wsdl:part name="DataInicial" type="s:string" />
    <wsdl:part name="DataFinal" type="s:string" />
    <wsdl:part name="CodUsuario" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Solicitar_eSocial_2220HttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="Solicitar_eSocial_2221HttpPostIn">
    <wsdl:part name="CNPJ" type="s:string" />
    <wsdl:part name="DataInicial" type="s:string" />
    <wsdl:part name="DataFinal" type="s:string" />
    <wsdl:part name="CodUsuario" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Solicitar_eSocial_2221HttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="Solicitar_eSocial_2230HttpPostIn">
    <wsdl:part name="CNPJ" type="s:string" />
    <wsdl:part name="DataInicial" type="s:string" />
    <wsdl:part name="DataFinal" type="s:string" />
    <wsdl:part name="CodUsuario" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Solicitar_eSocial_2230HttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="Solicitar_eSocial_2240HttpPostIn">
    <wsdl:part name="CNPJ" type="s:string" />
    <wsdl:part name="DataInicial" type="s:string" />
    <wsdl:part name="DataFinal" type="s:string" />
    <wsdl:part name="CodUsuario" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Solicitar_eSocial_2240HttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="Solicitar_eSocial_2245HttpPostIn">
    <wsdl:part name="CNPJ" type="s:string" />
    <wsdl:part name="DataInicial" type="s:string" />
    <wsdl:part name="DataFinal" type="s:string" />
    <wsdl:part name="CodUsuario" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Solicitar_eSocial_2245HttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="Eventos_eSocial_1060HttpPostIn">
    <wsdl:part name="CNPJ" type="s:string" />
    <wsdl:part name="DataInicial" type="s:string" />
    <wsdl:part name="DataFinal" type="s:string" />
    <wsdl:part name="CodUsuario" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Eventos_eSocial_1060HttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:portType name="IliNet_eSocialSoap">
    <wsdl:operation name="Retornar_Clinicas">
      <wsdl:input message="tns:Retornar_ClinicasSoapIn" />
      <wsdl:output message="tns:Retornar_ClinicasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Retornar_Clinicas_Cliente">
      <wsdl:input message="tns:Retornar_Clinicas_ClienteSoapIn" />
      <wsdl:output message="tns:Retornar_Clinicas_ClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Retornar_Laudos">
      <wsdl:input message="tns:Retornar_LaudosSoapIn" />
      <wsdl:output message="tns:Retornar_LaudosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Retornar_Setores">
      <wsdl:input message="tns:Retornar_SetoresSoapIn" />
      <wsdl:output message="tns:Retornar_SetoresSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Retornar_Cargos">
      <wsdl:input message="tns:Retornar_CargosSoapIn" />
      <wsdl:output message="tns:Retornar_CargosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Solicitar_Laudo">
      <wsdl:input message="tns:Solicitar_LaudoSoapIn" />
      <wsdl:output message="tns:Solicitar_LaudoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Executar_Convocacao">
      <wsdl:input message="tns:Executar_ConvocacaoSoapIn" />
      <wsdl:output message="tns:Executar_ConvocacaoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Retornar_ASO">
      <wsdl:input message="tns:Retornar_ASOSoapIn" />
      <wsdl:output message="tns:Retornar_ASOSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Retornar_Status_Exame">
      <wsdl:input message="tns:Retornar_Status_ExameSoapIn" />
      <wsdl:output message="tns:Retornar_Status_ExameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Retornar_Digitalizado">
      <wsdl:input message="tns:Retornar_DigitalizadoSoapIn" />
      <wsdl:output message="tns:Retornar_DigitalizadoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Solicitar_eSocial_1060">
      <wsdl:input message="tns:Solicitar_eSocial_1060SoapIn" />
      <wsdl:output message="tns:Solicitar_eSocial_1060SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Solicitar_eSocial_2210">
      <wsdl:input message="tns:Solicitar_eSocial_2210SoapIn" />
      <wsdl:output message="tns:Solicitar_eSocial_2210SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Solicitar_eSocial_2220">
      <wsdl:input message="tns:Solicitar_eSocial_2220SoapIn" />
      <wsdl:output message="tns:Solicitar_eSocial_2220SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Solicitar_eSocial_2221">
      <wsdl:input message="tns:Solicitar_eSocial_2221SoapIn" />
      <wsdl:output message="tns:Solicitar_eSocial_2221SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Solicitar_eSocial_2230">
      <wsdl:input message="tns:Solicitar_eSocial_2230SoapIn" />
      <wsdl:output message="tns:Solicitar_eSocial_2230SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Solicitar_eSocial_2240">
      <wsdl:input message="tns:Solicitar_eSocial_2240SoapIn" />
      <wsdl:output message="tns:Solicitar_eSocial_2240SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Solicitar_eSocial_2245">
      <wsdl:input message="tns:Solicitar_eSocial_2245SoapIn" />
      <wsdl:output message="tns:Solicitar_eSocial_2245SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Eventos_eSocial_1060">
      <wsdl:input message="tns:Eventos_eSocial_1060SoapIn" />
      <wsdl:output message="tns:Eventos_eSocial_1060SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IliNet_eSocialHttpGet">
    <wsdl:operation name="Retornar_Clinicas">
      <wsdl:input message="tns:Retornar_ClinicasHttpGetIn" />
      <wsdl:output message="tns:Retornar_ClinicasHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Retornar_Clinicas_Cliente">
      <wsdl:input message="tns:Retornar_Clinicas_ClienteHttpGetIn" />
      <wsdl:output message="tns:Retornar_Clinicas_ClienteHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Retornar_Laudos">
      <wsdl:input message="tns:Retornar_LaudosHttpGetIn" />
      <wsdl:output message="tns:Retornar_LaudosHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Retornar_Setores">
      <wsdl:input message="tns:Retornar_SetoresHttpGetIn" />
      <wsdl:output message="tns:Retornar_SetoresHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Retornar_Cargos">
      <wsdl:input message="tns:Retornar_CargosHttpGetIn" />
      <wsdl:output message="tns:Retornar_CargosHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Solicitar_Laudo">
      <wsdl:input message="tns:Solicitar_LaudoHttpGetIn" />
      <wsdl:output message="tns:Solicitar_LaudoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Executar_Convocacao">
      <wsdl:input message="tns:Executar_ConvocacaoHttpGetIn" />
      <wsdl:output message="tns:Executar_ConvocacaoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Retornar_ASO">
      <wsdl:input message="tns:Retornar_ASOHttpGetIn" />
      <wsdl:output message="tns:Retornar_ASOHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Retornar_Status_Exame">
      <wsdl:input message="tns:Retornar_Status_ExameHttpGetIn" />
      <wsdl:output message="tns:Retornar_Status_ExameHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Retornar_Digitalizado">
      <wsdl:input message="tns:Retornar_DigitalizadoHttpGetIn" />
      <wsdl:output message="tns:Retornar_DigitalizadoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Solicitar_eSocial_1060">
      <wsdl:input message="tns:Solicitar_eSocial_1060HttpGetIn" />
      <wsdl:output message="tns:Solicitar_eSocial_1060HttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Solicitar_eSocial_2210">
      <wsdl:input message="tns:Solicitar_eSocial_2210HttpGetIn" />
      <wsdl:output message="tns:Solicitar_eSocial_2210HttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Solicitar_eSocial_2220">
      <wsdl:input message="tns:Solicitar_eSocial_2220HttpGetIn" />
      <wsdl:output message="tns:Solicitar_eSocial_2220HttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Solicitar_eSocial_2221">
      <wsdl:input message="tns:Solicitar_eSocial_2221HttpGetIn" />
      <wsdl:output message="tns:Solicitar_eSocial_2221HttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Solicitar_eSocial_2230">
      <wsdl:input message="tns:Solicitar_eSocial_2230HttpGetIn" />
      <wsdl:output message="tns:Solicitar_eSocial_2230HttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Solicitar_eSocial_2240">
      <wsdl:input message="tns:Solicitar_eSocial_2240HttpGetIn" />
      <wsdl:output message="tns:Solicitar_eSocial_2240HttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Solicitar_eSocial_2245">
      <wsdl:input message="tns:Solicitar_eSocial_2245HttpGetIn" />
      <wsdl:output message="tns:Solicitar_eSocial_2245HttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Eventos_eSocial_1060">
      <wsdl:input message="tns:Eventos_eSocial_1060HttpGetIn" />
      <wsdl:output message="tns:Eventos_eSocial_1060HttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IliNet_eSocialHttpPost">
    <wsdl:operation name="Retornar_Clinicas">
      <wsdl:input message="tns:Retornar_ClinicasHttpPostIn" />
      <wsdl:output message="tns:Retornar_ClinicasHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Retornar_Clinicas_Cliente">
      <wsdl:input message="tns:Retornar_Clinicas_ClienteHttpPostIn" />
      <wsdl:output message="tns:Retornar_Clinicas_ClienteHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Retornar_Laudos">
      <wsdl:input message="tns:Retornar_LaudosHttpPostIn" />
      <wsdl:output message="tns:Retornar_LaudosHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Retornar_Setores">
      <wsdl:input message="tns:Retornar_SetoresHttpPostIn" />
      <wsdl:output message="tns:Retornar_SetoresHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Retornar_Cargos">
      <wsdl:input message="tns:Retornar_CargosHttpPostIn" />
      <wsdl:output message="tns:Retornar_CargosHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Solicitar_Laudo">
      <wsdl:input message="tns:Solicitar_LaudoHttpPostIn" />
      <wsdl:output message="tns:Solicitar_LaudoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Executar_Convocacao">
      <wsdl:input message="tns:Executar_ConvocacaoHttpPostIn" />
      <wsdl:output message="tns:Executar_ConvocacaoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Retornar_ASO">
      <wsdl:input message="tns:Retornar_ASOHttpPostIn" />
      <wsdl:output message="tns:Retornar_ASOHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Retornar_Status_Exame">
      <wsdl:input message="tns:Retornar_Status_ExameHttpPostIn" />
      <wsdl:output message="tns:Retornar_Status_ExameHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Retornar_Digitalizado">
      <wsdl:input message="tns:Retornar_DigitalizadoHttpPostIn" />
      <wsdl:output message="tns:Retornar_DigitalizadoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Solicitar_eSocial_1060">
      <wsdl:input message="tns:Solicitar_eSocial_1060HttpPostIn" />
      <wsdl:output message="tns:Solicitar_eSocial_1060HttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Solicitar_eSocial_2210">
      <wsdl:input message="tns:Solicitar_eSocial_2210HttpPostIn" />
      <wsdl:output message="tns:Solicitar_eSocial_2210HttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Solicitar_eSocial_2220">
      <wsdl:input message="tns:Solicitar_eSocial_2220HttpPostIn" />
      <wsdl:output message="tns:Solicitar_eSocial_2220HttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Solicitar_eSocial_2221">
      <wsdl:input message="tns:Solicitar_eSocial_2221HttpPostIn" />
      <wsdl:output message="tns:Solicitar_eSocial_2221HttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Solicitar_eSocial_2230">
      <wsdl:input message="tns:Solicitar_eSocial_2230HttpPostIn" />
      <wsdl:output message="tns:Solicitar_eSocial_2230HttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Solicitar_eSocial_2240">
      <wsdl:input message="tns:Solicitar_eSocial_2240HttpPostIn" />
      <wsdl:output message="tns:Solicitar_eSocial_2240HttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Solicitar_eSocial_2245">
      <wsdl:input message="tns:Solicitar_eSocial_2245HttpPostIn" />
      <wsdl:output message="tns:Solicitar_eSocial_2245HttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Eventos_eSocial_1060">
      <wsdl:input message="tns:Eventos_eSocial_1060HttpPostIn" />
      <wsdl:output message="tns:Eventos_eSocial_1060HttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IliNet_eSocialSoap" type="tns:IliNet_eSocialSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Retornar_Clinicas">
      <soap:operation soapAction="https://www.ilitera.net.br/essence_hom/Retornar_Clinicas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Retornar_Clinicas_Cliente">
      <soap:operation soapAction="https://www.ilitera.net.br/essence_hom/Retornar_Clinicas_Cliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Retornar_Laudos">
      <soap:operation soapAction="https://www.ilitera.net.br/essence_hom/Retornar_Laudos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Retornar_Setores">
      <soap:operation soapAction="https://www.ilitera.net.br/essence_hom/Retornar_Setores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Retornar_Cargos">
      <soap:operation soapAction="https://www.ilitera.net.br/essence_hom/Retornar_Cargos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Solicitar_Laudo">
      <soap:operation soapAction="https://www.ilitera.net.br/essence_hom/Solicitar_Laudo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Executar_Convocacao">
      <soap:operation soapAction="https://www.ilitera.net.br/essence_hom/Executar_Convocacao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Retornar_ASO">
      <soap:operation soapAction="https://www.ilitera.net.br/essence_hom/Retornar_ASO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Retornar_Status_Exame">
      <soap:operation soapAction="https://www.ilitera.net.br/essence_hom/Retornar_Status_Exame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Retornar_Digitalizado">
      <soap:operation soapAction="https://www.ilitera.net.br/essence_hom/Retornar_Digitalizado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Solicitar_eSocial_1060">
      <soap:operation soapAction="https://www.ilitera.net.br/essence_hom/Solicitar_eSocial_1060" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Solicitar_eSocial_2210">
      <soap:operation soapAction="https://www.ilitera.net.br/essence_hom/Solicitar_eSocial_2210" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Solicitar_eSocial_2220">
      <soap:operation soapAction="https://www.ilitera.net.br/essence_hom/Solicitar_eSocial_2220" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Solicitar_eSocial_2221">
      <soap:operation soapAction="https://www.ilitera.net.br/essence_hom/Solicitar_eSocial_2221" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Solicitar_eSocial_2230">
      <soap:operation soapAction="https://www.ilitera.net.br/essence_hom/Solicitar_eSocial_2230" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Solicitar_eSocial_2240">
      <soap:operation soapAction="https://www.ilitera.net.br/essence_hom/Solicitar_eSocial_2240" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Solicitar_eSocial_2245">
      <soap:operation soapAction="https://www.ilitera.net.br/essence_hom/Solicitar_eSocial_2245" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Eventos_eSocial_1060">
      <soap:operation soapAction="https://www.ilitera.net.br/essence_hom/Eventos_eSocial_1060" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="IliNet_eSocialSoap12" type="tns:IliNet_eSocialSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Retornar_Clinicas">
      <soap12:operation soapAction="https://www.ilitera.net.br/essence_hom/Retornar_Clinicas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Retornar_Clinicas_Cliente">
      <soap12:operation soapAction="https://www.ilitera.net.br/essence_hom/Retornar_Clinicas_Cliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Retornar_Laudos">
      <soap12:operation soapAction="https://www.ilitera.net.br/essence_hom/Retornar_Laudos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Retornar_Setores">
      <soap12:operation soapAction="https://www.ilitera.net.br/essence_hom/Retornar_Setores" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Retornar_Cargos">
      <soap12:operation soapAction="https://www.ilitera.net.br/essence_hom/Retornar_Cargos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Solicitar_Laudo">
      <soap12:operation soapAction="https://www.ilitera.net.br/essence_hom/Solicitar_Laudo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Executar_Convocacao">
      <soap12:operation soapAction="https://www.ilitera.net.br/essence_hom/Executar_Convocacao" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Retornar_ASO">
      <soap12:operation soapAction="https://www.ilitera.net.br/essence_hom/Retornar_ASO" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Retornar_Status_Exame">
      <soap12:operation soapAction="https://www.ilitera.net.br/essence_hom/Retornar_Status_Exame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Retornar_Digitalizado">
      <soap12:operation soapAction="https://www.ilitera.net.br/essence_hom/Retornar_Digitalizado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Solicitar_eSocial_1060">
      <soap12:operation soapAction="https://www.ilitera.net.br/essence_hom/Solicitar_eSocial_1060" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Solicitar_eSocial_2210">
      <soap12:operation soapAction="https://www.ilitera.net.br/essence_hom/Solicitar_eSocial_2210" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Solicitar_eSocial_2220">
      <soap12:operation soapAction="https://www.ilitera.net.br/essence_hom/Solicitar_eSocial_2220" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Solicitar_eSocial_2221">
      <soap12:operation soapAction="https://www.ilitera.net.br/essence_hom/Solicitar_eSocial_2221" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Solicitar_eSocial_2230">
      <soap12:operation soapAction="https://www.ilitera.net.br/essence_hom/Solicitar_eSocial_2230" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Solicitar_eSocial_2240">
      <soap12:operation soapAction="https://www.ilitera.net.br/essence_hom/Solicitar_eSocial_2240" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Solicitar_eSocial_2245">
      <soap12:operation soapAction="https://www.ilitera.net.br/essence_hom/Solicitar_eSocial_2245" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Eventos_eSocial_1060">
      <soap12:operation soapAction="https://www.ilitera.net.br/essence_hom/Eventos_eSocial_1060" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="IliNet_eSocialHttpGet" type="tns:IliNet_eSocialHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="Retornar_Clinicas">
      <http:operation location="/Retornar_Clinicas" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Retornar_Clinicas_Cliente">
      <http:operation location="/Retornar_Clinicas_Cliente" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Retornar_Laudos">
      <http:operation location="/Retornar_Laudos" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Retornar_Setores">
      <http:operation location="/Retornar_Setores" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Retornar_Cargos">
      <http:operation location="/Retornar_Cargos" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Solicitar_Laudo">
      <http:operation location="/Solicitar_Laudo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Executar_Convocacao">
      <http:operation location="/Executar_Convocacao" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Retornar_ASO">
      <http:operation location="/Retornar_ASO" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Retornar_Status_Exame">
      <http:operation location="/Retornar_Status_Exame" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Retornar_Digitalizado">
      <http:operation location="/Retornar_Digitalizado" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Solicitar_eSocial_1060">
      <http:operation location="/Solicitar_eSocial_1060" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Solicitar_eSocial_2210">
      <http:operation location="/Solicitar_eSocial_2210" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Solicitar_eSocial_2220">
      <http:operation location="/Solicitar_eSocial_2220" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Solicitar_eSocial_2221">
      <http:operation location="/Solicitar_eSocial_2221" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Solicitar_eSocial_2230">
      <http:operation location="/Solicitar_eSocial_2230" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Solicitar_eSocial_2240">
      <http:operation location="/Solicitar_eSocial_2240" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Solicitar_eSocial_2245">
      <http:operation location="/Solicitar_eSocial_2245" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Eventos_eSocial_1060">
      <http:operation location="/Eventos_eSocial_1060" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="IliNet_eSocialHttpPost" type="tns:IliNet_eSocialHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="Retornar_Clinicas">
      <http:operation location="/Retornar_Clinicas" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Retornar_Clinicas_Cliente">
      <http:operation location="/Retornar_Clinicas_Cliente" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Retornar_Laudos">
      <http:operation location="/Retornar_Laudos" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Retornar_Setores">
      <http:operation location="/Retornar_Setores" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Retornar_Cargos">
      <http:operation location="/Retornar_Cargos" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Solicitar_Laudo">
      <http:operation location="/Solicitar_Laudo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Executar_Convocacao">
      <http:operation location="/Executar_Convocacao" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Retornar_ASO">
      <http:operation location="/Retornar_ASO" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Retornar_Status_Exame">
      <http:operation location="/Retornar_Status_Exame" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Retornar_Digitalizado">
      <http:operation location="/Retornar_Digitalizado" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Solicitar_eSocial_1060">
      <http:operation location="/Solicitar_eSocial_1060" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Solicitar_eSocial_2210">
      <http:operation location="/Solicitar_eSocial_2210" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Solicitar_eSocial_2220">
      <http:operation location="/Solicitar_eSocial_2220" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Solicitar_eSocial_2221">
      <http:operation location="/Solicitar_eSocial_2221" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Solicitar_eSocial_2230">
      <http:operation location="/Solicitar_eSocial_2230" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Solicitar_eSocial_2240">
      <http:operation location="/Solicitar_eSocial_2240" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Solicitar_eSocial_2245">
      <http:operation location="/Solicitar_eSocial_2245" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Eventos_eSocial_1060">
      <http:operation location="/Eventos_eSocial_1060" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IliNet_eSocial">
    <wsdl:port name="IliNet_eSocialSoap" binding="tns:IliNet_eSocialSoap">
      <soap:address location="https://www.ilitera.net.br/essence_hom/IliNet_eSocial.asmx" />
    </wsdl:port>
    <wsdl:port name="IliNet_eSocialSoap12" binding="tns:IliNet_eSocialSoap12">
      <soap12:address location="https://www.ilitera.net.br/essence_hom/IliNet_eSocial.asmx" />
    </wsdl:port>
    <wsdl:port name="IliNet_eSocialHttpGet" binding="tns:IliNet_eSocialHttpGet">
      <http:address location="https://www.ilitera.net.br/essence_hom/IliNet_eSocial.asmx" />
    </wsdl:port>
    <wsdl:port name="IliNet_eSocialHttpPost" binding="tns:IliNet_eSocialHttpPost">
      <http:address location="https://www.ilitera.net.br/essence_hom/IliNet_eSocial.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>